<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Merriweather:wght@700&family=Open+Sans&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Import DataTable Library -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
    <title>Exam Middle NodeJs </title>
</head>

<body onload="onPageLoading()">
    <div class="container">
        <div class="text-center mt-3">
            <h2>Quản lý danh sách contacts</h2>
        </div>
        <div class="form--group">
            <button class="btn btn-success mb-2" id="btn-add-contact"><i class="fa fa-plus"></i>&nbsp; Thêm
                contact</button>
        </div>
    </div>
    <div class="container">
        <table id="contact-table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Create contact modal -->
    <div>
        <div id="create-contact-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Thêm contact</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="form-create-contact">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-fullName">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-email" name="reqEmail" class="form-control">
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success" id="btn-create-course"
                                    style="float: right;">Insert
                                    contact</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btn-create-cancel" data-dismiss="modal">Hủy bỏ</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Update contact modal -->
    <div>
        <div id="update-contact-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Chi tiết contact</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-contactid"> Contact Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-contactid" name="contactid" class="form-control"
                                        readonly="true">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-email">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-email" name="reqEmail" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" style="float: right;" id="btn-update-contact">Update
                            Contact</button>
                        <button class="btn btn-danger" id="btn-update-cancel" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete confirm modal -->
    <div>
        <div class="modal fade" tabindex="-1" id="delete-confirm-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Confirm xóa contact</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Bạn có chắc chắn muốn xóa contact này không?</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btn-confirm-delete-contact">Xác nhận</button>
                        <button class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const gBASE_URL = "http://localhost:4000";

        $("#btn-add-contact").on("click", function () {
            onBtnAddNewContactClick();
        });

        $("#btn-update-contact").on('click', function () {
            onBtnUpdateContact();
        });
        $("#btn-confirm-delete-contact").on('click', function () {
            onBtnConfirmDeleteContact();
        })
        // sự kiện create user trên modal

        function onPageLoading() {
            getAllContact();
        }
        function getAllContact() {
            "use strict:";
            $.ajax({
                url: gBASE_URL + "/admin/contacts/getAll",
                type: 'GET',
                dataType: 'json',
                success: function (paramContact) {
                    console.log(paramContact);
                    loaDataToTable(paramContact.data);
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }

        document.getElementById('form-create-contact').addEventListener('submit', async (e) => {
            e.preventDefault();
            // B1: Thu thập dữ liệu
            var reqEmail = $("#input-create-email").val().trim();

            // B2: Validate update
            var emailReg = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            if (reqEmail == "" || !emailReg.test(reqEmail)) {
                alert("Email khong hop le");
                return false;
            }
            else {
                const response = await fetch(`${gBASE_URL}/admin/contacts`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ reqEmail }),
                });
                if (response.ok) {
                    alert("Thêm mới contact thành công!");
                    $("#input-create-email").val("");
                    location.reload();
                    $("#Insert-contact-modal").modal("hide");
                }
                else {
                    alert("Loi");
                }
            }
        })


        function loaDataToTable(paramObjectContact) {
            var vContactTable = $('#contact-table');
            for (var bI = 0; bI < paramObjectContact.length; bI++) {
                var bNewRow = $('<tr/>').appendTo(vContactTable);

                var vEmail = $('<td/>', {
                    html: paramObjectContact[bI].email
                }).appendTo(bNewRow);

                var vAction = $("<td/>").appendTo(bNewRow);
                $('<span/>', {
                    html: `
                <img class="edit-contact" src="https://cdn0.iconfinder.com/data/icons/glyphpack/45/edit-alt-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnEditContactClick(this)"
                }).data("contactid", paramObjectContact[bI]._id).appendTo(vAction);
                $('<span/>', {
                    html: `
                <img class="delete-contact" src="https://cdn4.iconfinder.com/data/icons/complete-common-version-6-4/1024/trash-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnDeleteContactClick(this)"
                }).data("contactid", paramObjectContact[bI]._id).appendTo(vAction);
            }
        }



        function onBtnAddNewContactClick() {
            $("#create-contact-modal").modal("show");
        }

        function onBtnEditContactClick(paramBtnEdit) {
            var vCurrentRow = $(paramBtnEdit).closest("tr");
            gContactId = $(paramBtnEdit).data("contactid");
            getContactById(gContactId);
            $("#update-contact-modal").modal("show");
        }

        function onBtnDeleteContactClick(paramBtnDelete) {
            var vCurrentRow = $(paramBtnDelete).closest("tr");
            var vContactId = $(vCurrentRow).find("td:eq(1)").text();
            gId = $(paramBtnDelete).data("contactid");
            getContactById(gId);
            $("#delete-confirm-modal").modal("show");
        }

        function getContactById(paramContactId) {
            $.ajax({
                url: gBASE_URL + "/admin/contacts/" + paramContactId,
                type: "GET",
                success: function (paramContact) {
                    showContactDataToModal(paramContact.data);
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }


        function onBtnUpdateContact() {

            var vContactObj = {
                contactid: "",
                reqEmail: "",
            };
            // B1: Thu thập dữ liệu
            getUpdateContactData(vContactObj);
            // B2: Validate update
            var duLieuHopLe = validate(vContactObj);
            if (duLieuHopLe) {
                $.ajax({
                    url: gBASE_URL + "/admin/contacts/update/" + gContactId + "/" + vContactObj.reqEmail,
                    type: "PUT",
                    contentType: "application/json;charset=UTF-8",
                    success: function (paramRes) {
                        // B4: xử lý front-end
                        handleUpdateContactSuccess();
                    },
                    error: function (paramErr) {
                        console.log(paramErr.status);
                    }
                });
            }
        }


        function onBtnConfirmDeleteContact() {
            //Thực hiệc việc xóa
            $.ajax({
                url: gBASE_URL + "/admin/contacts/" + gId,
                type: "DELETE",
                contentType: "application/json;charset=UTF-8",
                success: function (paramRes) {
                    // B4: xử lý front-end
                    handleDeleteContactSuccess();
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }


        // hàm thu thập dữ liệu để update 
        function getUpdateContactData(paramContactObj) {
            paramContactObj.contactid = $("#input-update-contactid").val().trim();
            paramContactObj.reqEmail = $("#input-update-email").val().trim();
        }

        function showContactDataToModal(paramContact) {
            $("#input-update-contactid").val(paramContact._id);
            $("#input-update-email").val(paramContact.email);
        }

        // hàm xử lý hiển thị front-end khi cập nhật thành công
        function handleUpdateContactSuccess() {
            alert("Cập nhật contact thành công!");
            resertUpdateContactForm();
            location.reload();
            $("#update-contact-modal").modal("hide");
        }

        function handleDeleteContactSuccess() {
            alert("Xóa contact thành công!");
            location.reload();
            $("#contact-confirm-modal").modal("hide");
        }

        // hàm xóa trắng form update user
        function resertUpdateContactForm() {
            $("#input-update-email").val("");
        }

        function validate(paramObjContact) {
            var emailReg = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            if (paramObjContact.reqEmail == "" || !emailReg.test(paramObjContact.reqEmail)) {
                alert("Email khong hop le");
                return false;
            }
            return true;
        }
    </script>