<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Merriweather:wght@700&family=Open+Sans&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Import DataTable Library -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
    <title>Exam Middle NodeJs </title>
</head>

<body onload="onPageLoading()">
    <div class="container">
        <div class="text-center mt-3">
            <h2>Quản lý danh sách users</h2>
        </div>
        <div class="form--group">
            <button class="btn btn-success mb-2" id="btn-add-user"><i class="fa fa-plus"></i>&nbsp; Thêm user</button>
        </div>
    </div>
    <div class="container">
        <table id="user-table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Create user modal -->
    <div>
        <div id="create-user-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Thêm user</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="form-create-user">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-fullName">Full name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-fullName" name="reqFullName"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-phone">Phone</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-phone" name="reqPhone" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-status">Status</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-status" name="reqStatus" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success" id="btn-create-course"
                                    style="float: right;">Insert
                                    user</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btn-create-cancel" data-dismiss="modal">Hủy bỏ</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Update user modal -->
    <div>
        <div id="update-user-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Chi tiết user</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-userid"> User Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-userid" name="userid" class="form-control"
                                        readonly="true">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-fullName"> Full name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-fullName" name="reqFullName"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-phone">Phone</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-phone" name="reqPhone" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-status">Status</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-status" name="reqStatus" placeholder=""
                                        class="form-control">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" style="float: right;" id="btn-update-user">Update User</button>
                        <button class="btn btn-danger" id="btn-update-cancel" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete confirm modal -->
    <div>
        <div class="modal fade" tabindex="-1" id="delete-confirm-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Confirm xóa user</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Bạn có chắc chắn muốn xóa user này không?</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btn-confirm-delete-user">Xác nhận</button>
                        <button class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const gBASE_URL = "http://localhost:4000";

        $("#btn-add-user").on("click", function () {
            onBtnAddNewUserClick();
        });

        $("#btn-update-user").on('click', function () {
            onBtnUpdateUser();
        });
        $("#btn-confirm-delete-user").on('click', function () {
            onBtnConfirmDeleteUser();
        })
        // sự kiện create user trên modal

        function onPageLoading() {
            getAllUser();
        }
        function getAllUser() {
            "use strict:";
            $.ajax({
                url: gBASE_URL + "/admin/users/getAll",
                type: 'GET',
                dataType: 'json',
                success: function (paramUser) {
                    console.log(paramUser);
                    loaDataToTable(paramUser.data);
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }

        document.getElementById('form-create-user').addEventListener('submit', async (e) => {
            e.preventDefault();
            var vUserObj = {
                reqFullName: "",
                reqPhone: "",
                reqStatus: "",
            };
            // B1: Thu thập dữ liệu
            getInsertUserData(vUserObj);
            // B2: Validate update
            var duLieuHopLe = validate(vUserObj);

            if (duLieuHopLe) {
                    const response = await fetch(`${gBASE_URL}/admin/users`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({reqFullName:vUserObj.reqFullName,reqPhone:vUserObj.reqPhone,reqStatus:vUserObj.reqStatus}),
                    });
                    if (response.ok) {
                        handleInsertUserSuccess();
                    }
                    else{
                        alert("Loi");
                    }
            }
        })

        function loaDataToTable(paramObjectUser) {
            var vUserTable = $('#user-table');
            for (var bI = 0; bI < paramObjectUser.length; bI++) {
                var bNewRow = $('<tr/>').appendTo(vUserTable);

                var vFullName = $('<td/>', {
                    html: paramObjectUser[bI].fullName
                }).appendTo(bNewRow);

                var vPhone = $('<td/>', {
                    html: paramObjectUser[bI].phone
                }).appendTo(bNewRow);

                var vStatus = $('<td/>', {
                    html: paramObjectUser[bI].status
                }).appendTo(bNewRow);

                var vAction = $("<td/>").appendTo(bNewRow);
                $('<span/>', {
                    html: `
                <img class="edit-user" src="https://cdn0.iconfinder.com/data/icons/glyphpack/45/edit-alt-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnEditUserClick(this)"
                }).data("userid", paramObjectUser[bI]._id).appendTo(vAction);
                $('<span/>', {
                    html: `
                <img class="delete-user" src="https://cdn4.iconfinder.com/data/icons/complete-common-version-6-4/1024/trash-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnDeleteUserClick(this)"
                }).data("userid", paramObjectUser[bI]._id).appendTo(vAction);
            }
        }



        function onBtnAddNewUserClick() {
            $("#create-user-modal").modal("show");
        }

        function onBtnEditUserClick(paramBtnEdit) {
            var vCurrentRow = $(paramBtnEdit).closest("tr");
            gUserId = $(paramBtnEdit).data("userid");
            getUserById(gUserId);
            $("#update-user-modal").modal("show");
        }

        function onBtnDeleteUserClick(paramBtnDelete) {
            var vCurrentRow = $(paramBtnDelete).closest("tr");
            var vUserId = $(vCurrentRow).find("td:eq(1)").text();
            gId = $(paramBtnDelete).data("userid");
            getUserById(gId);
            $("#delete-confirm-modal").modal("show");
        }

        function getUserById(paramUserId) {
            $.ajax({
                url: gBASE_URL + "/admin/users/" + paramUserId,
                type: "GET",
                success: function (paramUserId) {
                    showUserDataToModal(paramUserId.data);
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }


        function onBtnUpdateUser() {

            var vUserObj = {
                userid: "",
                reqFullName: "",
                reqPhone: "",
                reqStatus: "",
            };
            // B1: Thu thập dữ liệu
            getUpdateUserData(vUserObj);
            // B2: Validate update
            var duLieuHopLe = validate(vUserObj);
            if (duLieuHopLe) {
                $.ajax({
                    url: gBASE_URL + "/admin/users/update/" + gUserId + "/" + vUserObj.reqFullName + "/" + vUserObj.reqPhone + "/" + vUserObj.reqStatus,
                    type: "PUT",
                    contentType: "application/json;charset=UTF-8",
                    success: function (paramRes) {
                        // B4: xử lý front-end
                        handleUpdateUserSuccess();
                    },
                    error: function (paramErr) {
                        console.log(paramErr.status);
                    }
                });
            }
        }


        function onBtnConfirmDeleteUser() {
            //Thực hiệc việc xóa
            $.ajax({
                url: gBASE_URL + "/admin/users/" + gId,
                type: "DELETE",
                contentType: "application/json;charset=UTF-8",
                success: function (paramRes) {
                    // B4: xử lý front-end
                    handleDeleteUserSuccess();
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }

        function getInsertUserData(paramUserObj)
        {
            paramUserObj.reqFullName = $("#input-create-fullName").val().trim();
            paramUserObj.reqPhone = $("#input-create-phone").val().trim();
            paramUserObj.reqStatus = $("#input-create-status").val().trim();
        }

        // hàm thu thập dữ liệu để update 
        function getUpdateUserData(paramUserObj) {
            paramUserObj.userid = $("#input-update-userid").val().trim();
            paramUserObj.reqFullName = $("#input-update-fullName").val().trim();
            paramUserObj.reqPhone = $("#input-update-phone").val().trim();
            paramUserObj.reqStatus = $("#input-update-status").val().trim();
        }

        function showUserDataToModal(paramUser) {
            $("#input-update-userid").val(paramUser._id);
            $("#input-update-fullName").val(paramUser.fullName);
            $("#input-update-phone").val(paramUser.phone);
            $("#input-update-status").val(paramUser.status);
        }

        function handleInsertUserSuccess()
        {
            alert("Thêm mới user thành công!");
            resertInsertUserForm();
            location.reload();
            $("#Insert-user-modal").modal("hide");
        }

        // hàm xử lý hiển thị front-end khi cập nhật thành công
        function handleUpdateUserSuccess() {
            alert("Cập nhật user thành công!");
            resertUpdateUserForm();
            location.reload();
            $("#update-user-modal").modal("hide");
        }

        function handleDeleteUserSuccess() {
            alert("Xóa user thành công!");
            location.reload();
            $("#delete-confirm-modal").modal("hide");
        }

      function  resertInsertUserForm()
        {
            $("#input-create-fullName").val("");
            $("#input-create-phone").val("");
            $("#input-create-status").val("");
        }
        // hàm xóa trắng form update user
        function resertUpdateUserForm() {
            $("#input-update-fullName").val("");
            $("#input-update-phone").val("");
            $("#input-update-status").val("");
        }

        function validate(paramObjUser) {
            if (paramObjUser.reqFullName == "") {
                alert("Bạn chưa nhập full name");
                return false;
            }
            if (paramObjUser.reqPhone == "" || paramObjUser.reqPhone.length < 10) {
                alert("phone phải có ít nhất 10 kí tự");
                return false;
            }
            return true;
        }
    </script>