.container {
    background-color: #0B153C;
    width: 1400px;
    height: 1024px;
}

.menu-header {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
}

.service {
    margin-left: 10px;
    color: #FFFFFF80;
}

.schedule {
    margin-left: 10px;
    color: #FFFFFF80;
}

.contact {
    margin-left: 10px;
    color: #FFFFFF80;
}

.vaccination {
    font-family: "Montserrat";
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.button-check {
    width: 219px;
    height: 69px;
    padding: 20px 26px 20px 26px;
    border-radius: 20px;
    background-color: #C4C4C41A;
    color: #17C2EC;
    font-size: 24px;
    font-family: "Montserrat";
    text-align: center;
}

.icon-header{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-top: 50px;
    float: left;
    background-color: #C4C4C426;
    display: none;
}

.clear {
    clear: both;
}

.body-header {
    display: flex;
    margin-left: 50px;
}

.left-header {
    width: 600px;
    height: 300px;
    margin-right: 50px;
    margin-top: 50px;
}

.get-vaccine {
    font-family: "Montserrat";
    font-size: 24px;
    color: #17C2EC;
}

.covid-19 {
    margin-top: 10px;
    font-family: "Montserrat";
    font-size: 48px;
    color: white;
}

.des-vacci {
    margin-top: 10px;
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
    opacity: 70%;
}

.left-button {
    margin-top: 20px;
}

.vaccine {
    font-family: "Montserrat";
    font-size: 24px;
    border-radius: 20px;
    background-color: #17C2EC;
    padding: 20px 25px 20px 25px;
    color: white;
}

.help {
    margin-left: 20px;
    font-family: "Montserrat";
    border-radius: 20px;
    border: 2px solid #17C2EC;
    font-size: 24px;
    padding: 20px 25px 20px 25px;
    background-color: #C4C4C41A;
    color: white;
}

.right-header {
    width: 622px;
    height: 617px;
    margin-left: 50px;
}

.image-unsplash {
    width: 500px;
    height: 530px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 43.19px;
}

.boder-unsplash {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
    top: 320px;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
}

.boder-virus {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
    top: 320px;
    left: 1285px;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20px;
}

.boder-doctor {
    display: flex;
    position: absolute;
    background-color: #00000040;
    width: 350px;
    height: 80px;
    border-radius: 20px;
    top: 610px;
    left: 800px;
}

.special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.number {
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
}

.Specialists {
    color: #17C2EC;
    font-family: "Montserrat";
    font-size: 24px;
}

.icon-schedule {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.clock {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #C4C4C40D;
    text-align: center;
    padding-top: 5px;
}

.des-schedule {
    margin-left: 10px;
    font-family: "Montserrat";
    font-size: 24px;
}

.body-footer-header {
    width: 1299px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    background-color: #C4C4C40D;
    align-items: center;
    justify-content: space-around;
}

.location-date{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vacine-submit{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icon-location {
    display: flex;
    align-items: center;
}

.des-location {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.icon-date {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.des-date {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.icon-vaccine {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.des-vaccineType {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.icon-lo {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    color: white;
    background-color: #C4C4C40D;
    padding: 10px 15px 0px 15px;
}

.icon-dat {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    color: white;
    background-color: #C4C4C40D;
    padding: 10px 15px 0px 15px;
}

.icon-secur {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    color: white;
    background-color: #C4C4C40D;
    padding: 10px 15px 0px 15px;
}

.location {
    font-family: "Montserrat";
    font-size: 24px;
    color: #FFFFFF80;
}

.lagos {
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
}

.date {
    font-family: "Montserrat";
    font-size: 24px;
    color: #FFFFFF80;
}

.day {
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
}

.vaccineType {
    font-family: "Montserrat";
    font-size: 24px;
    color: #FFFFFF80;
}

.mordena {
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
}

.button-submit {
    width: 253px;
    height: 69px;
    border-radius: 20px;
    padding: 20px 35px 50px 25px;
    background-color: #17C2EC;
    color: white;
    text-align: center;
    font-family: "Montserrat";
    font-size: 24px;
    margin-left: 50px;
}

.body1 {
    background-color: #FFFFFF80;
}

.logo-vaccine {
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.body2 {
    width: 1400px;
    height: 466px;
    margin-top: 10px;
    background-color: #0B153C;
    padding-top: 50px;
}

.check-database {
    width: 1299px;
    height: 380px;
    margin-left: 71px;
    border-radius: 20px;
    background-color: #C4C4C41A;
}

.database {
    width: 1299px;
    height: 101px;
    border-radius: 20px 20px 0px 0px;
    background-color: #C4C4C40D;

}

.nd-database {
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
    padding: 30px 50px;
}

.input-name {
    margin-left: 100px;
    width: 400px;
    height: 60px;
    border-radius: 20px;
    background-color: #C4C4C41A;
    font-size: 24px;
}

.input-covid {
    margin-top: 20px;

}

.input-number {
    margin-left: 50px;
    width: 400px;
    height: 60px;
    border-radius: 20px;
    background-color: #C4C4C41A;
    font-size: 24px;
}

.btn-check {
    margin-left: 50px;
    width: 173px;
    height: 60px;
    border-radius: 20px;
    background-color: #C4C4C41A;
    border: 3px solid #17C2EC;
    color: #17C2EC;
    font-family: "Montserrat";
    font-size: 24px;
}

.result {
    width: 1113px;
    height: 70px;
    border-radius: 70px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: #C4C4C40D;
}

.nd-result {
    color: #17C2EC;
    font-size: 24px;
    padding: 15px 200px;
}

.body3 {
    width: 1400px;
    height: 794.35px;
    background-color: #0B153C;

}

.des-why {
    display: flex;
    align-items: center;
}

.why-get-vaccine {
    width: 503.95px;
    height: 117.75px;
    margin-left: 60px;
    font-family: "Montserrat";
    font-size: 47.9px;
    color: white;
}

.des-magna {
    width: 536.88px;
    height: 71.85px;
    font-family: "Montserrat";
    font-size: 19.96px;
    color: #FFFFFF80;
    margin-left: 450px;
    margin-right: 50px;
}

.des-protect {
    display: flex;
    margin-top: 50px;
}
.mini-tempe{
    display: flex;
}

.protect-viruss {
    width: 449.06px;
    height: 498.96px;
    margin-left: 70.85px;
    border-radius: 49.9px 149.69px 49.9px 49.9px;
    display: flex;
    flex-direction: column;
    background-color: #C4C4C433;
}

.icon-protect {
    width: 99.79px;
    height: 99.79px;
    background-color: #0000001A;
    border-radius: 29.94px;
    margin-top: 50px;
    margin-left: 50px;
}

.immune {
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 30px;
    color: #17C2EC;
    font-family: "Montserrat";
    font-size: 24px;
}

.des-velit {
    font-family: "Montserrat";
    font-size: 18px;
    color: white;
    margin-left: 50px;
    margin-right: 120px;
    margin-top: 20px;
}

.redmore {
    margin-left: 50px;
    margin-top: 20px;
    color: #17C2EC;
    font-family: "Montserrat";
    font-size: 18px;
}

.des-minimize {
    width: 349.27px;
    height: 349.27px;
    border-radius: 49.9px;
    border: 3px solid #FFFFFF80;
    margin-left: 50px;
    margin-top: 150px;
}

.icon-user {
    margin-left: 50px;
    margin-top: 50px;
    width: 69.85px;
    height: 69.85px;
    border-radius: 20.96px;
    background-color: #0000001A
}

.des-minimize-viruss {
    margin-top: 30px;
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
    margin-left: 50px;
    margin-right: 80px;
}

.redmore-des-minimize {
    margin-left: 50px;
    margin-top: 30px;
    color: #FFFFFF80;
    font-family: "Montserrat";
    font-size: 18px;
}

.des-temperate {
    width: 349.27px;
    height: 349.27px;
    border-radius: 49.9px;
    border: 3px solid #FFFFFF80;
    margin-left: 50px;
    margin-top: 150px;
}

.icon-temperate {
    margin-left: 50px;
    margin-top: 50px;
    width: 69.85px;
    height: 69.85px;
    border-radius: 20.96px;
    background-color: #0000001A;
    padding: 10px 20px;
}

.des-protect-yourself {
    margin-top: 40px;
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
    margin-left: 50px;
    margin-right: 80px;
}

.redmore-des-temperate {
    margin-left: 50px;
    margin-top: 50px;
    color: #FFFFFF80;
    font-family: "Montserrat";
    font-size: 18px;
}
.body4{
    background-image: linear-gradient(white,#d4e9ee,white);
    width: 1400px;
    height: 800px;
}
.body4-1 {
    display: flex;
    height: 200px;
}
.vaccine-today {
    margin-left: 50px;
    margin-right: 200px;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 48px;
    color: #000000;

}

.patient {
    margin-left: 50px;
}

.patient-fullname {
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.input-fullname {
    margin-top: 20px;
    background-color: #0B153C26;
    border: none;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    font-size: 24px;
}

.mobile-number {
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.notifications {
    margin-top: 20px;
    margin-right: 350px;
    font-family: "Montserrat";
    font-size: 20px;
    color: #3d3b3b80;
}

.group-phone {
    margin-top: 20px;
}

.phone-number {
    width: 400px;
    height: 60px;
    border-radius: 20px;
    font-size: 24px;
    background-color: #0000001A;
    border: none;
}

.btn-verify {
    width: 200px;
    height: 60px;
    padding: 10px 70px 20px 70px;
    border-radius: 20px;
    background-color: #17C2EC;
    color: white;
    font-size: 24px;
    border: none;
}

.btn-submit {
    margin-top: 20px;
    width: 600px;
    height: 69px;
    padding: 20px 279px 20px 279px;
    border-radius: 20px;
    background-color: #17C2EC;
    color: white;
    font-family: "Montserrat";
    font-size: 24px;
    border: none;
}

.footer-body4 {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.register {
    margin-left: 80px;
    font-family: "Montserrat";
    font-size: 20px;
    color: #00000080;
}

.check-status {
    margin-left: 40px;
    color: #0a9abe;
    font-family: "Montserrat";
    font-size: 20px;
}

.right-body4 {
    width: 401px;
    height: 575px;
    margin-right: 50px;
}

.image-rectangle19 {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 20px;
    width: 376.69px;
    height: 600px;
    border-radius: 20px;
    background-color: #0B153C;
}

.image-viruss {
    width: 98.44px;
    height: 95px;
    position: absolute;
    margin-top: 10px;
}

.covid19-vaccine {
    width: 116px;
    height: 58px;
    margin-top: 70px;
    position: absolute;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 24px;
    text-align: center;
    margin-left: 170px;
}

.verify-status {
    background-color: #C4C4C440;
    width: 200px;
    height: 50px;
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
    position: absolute;
    margin-top: 500px;
    margin-left: 100px;
    border-radius: 10px;
    padding: 10px 35px;
}

.body5 {
    margin-top: 10px;
    width: 1400px;
    height: 982px;
    background-color: #0B153C;
}

.covid-prevention {
    width: 249px;
    height: 29px;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 597px;
    font-family: "Montserrat";
    font-size: 24px;
    color: white;
    text-align: center;
}

.covid-symptom {
    padding-top: 50px;
    font-family: "Montserrat";
    font-size: 48px;
    color: #17C2EC;
    text-align: center;
}

.des-adipiscing {
    padding-top: 30px;
    font-family: "Montserrat";
    font-size: 24px;
    color: #FFFFFF80;
    text-align: center;
    margin-left: 310px;
    margin-right: 300px;
}

.div-imageMan-virus {
    width: 1367px;
    height: 530.71px;
    margin-top: 30px;
    position: absolute;
}

.image-man {
    width: 708.42px;
    height: 600px;
    margin-left: 360px;
    margin-top: 100px;
    position: relative;
}
.group1{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.virus-hightFever{
    width: 315px;
    height: 100px;
    margin-left: 90px;
    position: relative;
}
.virus{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    position: absolute;
}
.hight-fever{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-left: 40px;
    text-align: center;
    background-color: #C4C4C433;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    padding-top: 15px;
    color: #17C2EC;
    position: absolute;
}
.group2{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.virus-smell{
    width: 315px;
    height: 100px;
    margin-left: 40px;
    position: relative;
}
.smell{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-left: 40px;
    text-align: center;
    background-color: #C4C4C433;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    padding-top: 15px;
    color: #17C2EC;
    position: absolute;
}
.virus-dry{
    width: 315px;
    height: 100px;
    position: relative;
}
.dry{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-left: 50px;
    text-align: center;
    background-color: #C4C4C433;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    padding-top: 15px;
    color: #17C2EC;
    position: absolute;
}
.virus-taste{
    width: 315px;
    height: 100px;
    margin-left: 350px;
    position: relative;
}
.taste{
    width: 300px;
    height: 70px;
    margin-left: 50px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #C4C4C433;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    color: #17C2EC;
    position: absolute;
}
.virus-breathing{
    width: 315px;
    height: 100px;
    margin-left: 600px;
    position: relative;
}
.breathing{
    width: 300px;
    height: 70px;
    margin-left: 50px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #C4C4C433;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    color: #17C2EC;
    position: absolute;
}
.group3{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.virus-sore{
    width: 315px;
    height: 100px;
    margin-left: 0px;
    position: relative;
}
.sore{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-left: 40px;
    text-align: center;
    background-color: #C4C4C433;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    padding-top: 15px;
    color: #17C2EC;
    position: absolute;
}
.body6{
    width: 1400px;
    height: 600px;
    background-color: #FFFFFF80;
}
.feedback-context{
    width: 650px;
    height: 108px;
    margin-left: 400px;
}
.feedback{
    width: 140px;
    height: 29px;
    font-size: 24px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    color: #17C2EC;
    margin-left: 250px;
    margin-top: 50px;
}
.context{
    width: 650px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 800;
    color: #000000;
}
.feedback-center{
    position: relative;
    display: flex;
    flex-direction: row;
}
.paraphrap{
    position: absolute;
    width: 980px;
    height: 58px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #00000080;
    margin-top: 30px;
    margin-left: 200px;
}
.image-vacxin1{
    width: 294px;
    height: 478.56px;
    margin-left: 100px;
    margin-top: 30px;
    position: relative;
}
.image-vacxin2{
    width: 294px;
    height: 478.56px;
    margin-left: 150px;
    margin-top: 30px;
    position: relative;
}
.image-vacxin3{
    width: 294px;
    height: 478.56px;
    margin-left: 150px;
    margin-right: 120px;
    margin-top: 30px;
    position: relative;
}
.maja-context{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background-color: #C4C4C480;
    position: absolute;
    margin-left: 20px;
    margin-top: 190px;
}
.leka-context{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background-color: #17C2EC;
    position: absolute;
    margin-top: 190px;
    margin-left: 90px;
}
.temitope-context{
        width: 400px;
        height: 250px;
        border-radius: 20px;
        background-color: #C4C4C480;
        position: absolute;
        margin-top: 190px;
        margin-left: 100px;
}
.img-maja{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
.maja-badagry{
    margin-top: 20px;
    margin-left: 20px;
}
.user-maja{
    display: flex;
    flex-direction: row;
}
.maja{
    width: 220px;
    height: 29px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.badagry{
    width: 114px;
    height: 17px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #00000080;
}
.maja-paraphrap{
    width: 333px;
    height: 66px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    color: #00000099;
}

.img-leka{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
.leka-ikeja{
    margin-top: 20px;
    margin-left: 20px;
}
.user-leka{
    display: flex;
    flex-direction: row;
}
.leka{
    width: 220px;
    height: 29px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
.ikeja{
    width: 114px;
    height: 17px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFFBF;
    margin-left: 5px;
}
.leka-paraphrap{
    width: 333px;
    height: 66px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    color: #FFFFFFBF;
}

.img-temitope{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}
.temitope-lagos{
    margin-top: 20px;
    margin-left: 20px;
}
.user-temitope{
    display: flex;
    flex-direction: row;
}
.temitope{
    width: 220px;
    height: 29px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.lagos{
    width: 150px;
    height: 17px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-left: 5px;
}
.temitope-paraphrap{
    width: 333px;
    height: 66px;
    margin-top: 40px;
    margin-left: 30px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    color: #00000099;
}
.get-quote{
    position: absolute;
    background-color: #C4C4C426;
    width: 1067px;
    height: 435px;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 150px;
}
.form-quote{
    margin:15px;
    background-color: #17C2EC;
    width: 1031px;
    height: 400px;
    border-radius: 50px;
}
.quote{
    width: 293px;
    height: 59px;
    padding-top: 50px;
    margin-left: 350px;
    font-family: "Montserrat";
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}
.email-context{
    width: 507px;
    height: 29px;
    margin-top: 70px;
    margin-left: 250px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
}
.input{
    width: 549px;
    height: 75px;
    margin-left: 250px;
    margin-top: 70px;
    display: flex;
}
.inp-email{
    width: 450px;
    font-size: 20px;
    height: 75px;
    border-radius: 30px 0px 0px 30px;
    background-color:  #FFFFFF;
    padding-left: 50px;
    color: #00000080;
}
.btn-send{
    background-color: #0B153C;
    width: 100px;
    height: 75px;
    border-radius: 0px 30px 30px 0px;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
}
.footer{
    width: 1400px;
    height: 500px;
    background-color: #0B153C;
    margin-top: 300px;
}
.menu-footer{
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 360px;
}
.menu-ft{
    display: flex;
    font-family: "Montserrat";
    font-size: 24px;
    color: #FFFFFF80;
}
.home-ft{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat";
}
.service-ft {
    margin-left: 10px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
}

.schedule-ft {
    margin-left: 10px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
}

.contact-ft {
    margin-left: 10px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
}
.icon-footer{
    display: flex;
    margin-right: 100px;
}

@media screen and (max-width: 700px){
    .menu{
        display: none;
    }
    .icon-header{
        display: block;
    }
    .button-check{
        display: none;
    }
    .container{
        height: auto;
    }
    .body-header{
        flex-direction: column;
    }
    .left-header{
        margin-left: 300px;
        margin-right: 300px;
    }
    .right-header{
        margin-top: 200px;
        margin-left: 200px;
    }
    .boder-unsplash {
        width: 100px;
        height: 100px;
        position: absolute;
        background-color: white;
        top: 820px;
        left: 300px;
        align-items: center;
        padding-top: 10px;
        border-radius: 20px;
    }
    
    .boder-virus {
        width: 100px;
        height: 100px;
        position: absolute;
        background-color: white;
        top: 820px;
        left: 785px;
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 20px;
    }
    
    .boder-doctor {
        display: flex;
        position: absolute;
        background-color: #00000040;
        width: 350px;
        height: 80px;
        border-radius: 20px;
        top: 1170px;
        left: 300px;
    }
    .footer-header{
        margin-left: 300px;
    }
    .body-footer-header{
       flex-direction: column;
       height: 200px;
       width: 900px;
       float: left;
       padding-bottom: 20px;
    }
   
    .body1{
        margin-top: 10px;
    }
    .img-prizer{
        margin-left: 40px;
    }
    .img-sinovac{
        margin-left: 40px;
    }
    .img-zeneca{
        margin-left: 40px;
    }
    .body2{
        height: 600px;
        padding-bottom: 50px;
    }
    .check-database{
        width: 650px;
        height: 500px;
        margin-left: 300px;
    }
    .database{
        text-align: center;
        width: 650px;
    }
    .input-covid{
        height: 450px;
    }
    .input-name{
        margin-left: 50px;
    }
    .input-number{
        margin-top: 20px;
    }
    .btn-check
    {
        margin-top: 20px;
    }
    .result{
        margin-top: 20px;
        margin-left: 0;
        width: 645px;
    }
    .nd-result{
        padding: 10px 20px;
        font-size: 22px;
    }
    .body3{
        height: 1300px;
    }
    .des-why{
        flex-direction: column;
        align-items: first baseline;
    }
    .des-magna{
        margin-left: 130px;
        margin-top: 30px;
    }
    .des-protect{
        flex-direction: column;

    }
    .des-minimize{
        margin-left: 100px;
    }
    .des-temperate{
        margin-left: 30px;
        margin-right: 20px;
    }
    .body4{
        height: 1300px;
        background-image: linear-gradient(white,#d4e9ee,white);
        
    }
    .body4-1{
        flex-direction: column;
    }
    .vaccine-today{
        margin-right: 0;
        margin-left: 30px;
        font-size: 40px;
    }
    .right-body4{
        margin-left: 50px;
    }
    .body-registration{
        margin-top: 600px;
    }
    .body6{
        height: 1600px;
    }
    .feedback-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-vacxin1{
        margin-left: 70px;
        margin-top: 20px;
    }
    .image-vacxin2{
        margin-left: 170px;
    }
    .image-vacxin3{
        margin-left: 200px;
    }
    .temitope-context{
        margin-left: 150px;
    }
    .footer{
        height: 700px;
    }
    .menu-footer{
        flex-direction: column;
        align-items: first baseline;
    }
    .service-ft{
        margin-left: 50px;
    }
    .schedule-ft{
        margin-left: 30px;
    }
    .contact-ft{
        margin-left: 30px;
    }
    .menu-ft{
        margin-top: 30px;
    }
    .icon-footer{
        margin-top: 30px;
    }

}
@media screen and (max-width: 400px){
    .menu{
        display: none;
    }
    .icon-header{
        display: block;
    }
    .button-check{
        display: none;
    }
    .container{
        height: auto;
    }
    .body-header{
        flex-direction: column;
    }
    .left-header{
        margin-left: 300px;
        margin-right: 300px;
    }
    .right-header{
        margin-top: 200px;
        margin-left: 200px;
    }
    .boder-unsplash {
        width: 100px;
        height: 100px;
        position: absolute;
        background-color: white;
        top: 820px;
        left: 300px;
        align-items: center;
        padding-top: 10px;
        border-radius: 20px;
    }
    
    .boder-virus {
        width: 100px;
        height: 100px;
        position: absolute;
        background-color: white;
        top: 820px;
        left: 785px;
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 20px;
    }
    
    .boder-doctor {
        display: flex;
        position: absolute;
        background-color: #00000040;
        width: 350px;
        height: 80px;
        border-radius: 20px;
        top: 1170px;
        left: 300px;
    }
    .footer-header{
        margin-left: 300px;
    }
    .body-footer-header{
       flex-direction: column;
       display: flex;
        align-items: flex-start;
       height: 350px;
       width: 900px;
       float: left;
       padding-bottom: 20px;
    }
   .location-date{
    flex-direction: column;
   }
   .vacine-submit{
    flex-direction: column;
    margin-left: 50px;
   }
   .icon-date{
    margin-left: 60px;
   }
    .body1{
        margin-top: 10px;
    }
    .img-prizer{
        margin-left: 40px;
    }
    .img-sinovac{
        margin-left: 40px;
    }
    .img-zeneca{
        margin-left: 40px;
    }
    .body2{
        height: 600px;
        padding-bottom: 50px;
    }
    .check-database{
        width: 650px;
        height: 500px;
        margin-left: 300px;
    }
    .database{
        text-align: center;
        width: 650px;
    }
    .input-covid{
        height: 450px;
    }
    .input-name{
        margin-left: 50px;
    }
    .input-number{
        margin-top: 20px;
    }
    .btn-check
    {
        margin-top: 20px;
    }
    .result{
        margin-top: 20px;
        margin-left: 0;
        width: 645px;
    }
    .nd-result{
        padding: 10px 20px;
        font-size: 22px;
    }
    .body3{
        height: 1900px;
    }
    .des-why{
        flex-direction: column;
        align-items: first baseline;
    }
    .des-magna{
        margin-left: 130px;
        margin-top: 30px;
    }
    .des-protect{
        flex-direction: column;

    }
    .mini-tempe{
        flex-direction: column;
        
    }
    .des-minimize{
        margin-left: 100px;
    }
    .des-temperate{
        margin-left: 100px;
        margin-right: 20px;
    }
    .body4{
        height: 1300px;
        background-image: linear-gradient(white,#d4e9ee,white);
        
    }
    .body4-1{
        flex-direction: column;
    }
    .vaccine-today{
        width: 600px;
        margin-left: 100px;
        font-size: 40px;
    }
    .right-body4{
        margin-left: 50px;
    }
    .body-registration{
        margin-top: 600px;
    }
    .group-phone{
        display: flex;
        flex-direction: column;
    }
    .btn-verify{
        margin-top: 20px;
    }
    .body6{
        height: 1600px;
    }
    .feedback-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-vacxin1{
        margin-left: 70px;
        margin-top: 20px;
    }
    .image-vacxin2{
        margin-left: 170px;
    }
    .image-vacxin3{
        margin-left: 200px;
    }
    .temitope-context{
        margin-left: 150px;
    }
    .footer{
        height: 700px;
    }
    .menu-footer{
        flex-direction: column;
        align-items: first baseline;
    }
    .menu-ft{
        flex-direction: column;
    }
    .service-ft{
        margin-left: 0;
    }
    .schedule-ft{
        margin-left: 0;
    }
    .contact-ft{
        margin-left: 0;
    }
    .icon-footer{
        margin-top: 30px;
        margin-left: 50px;
    }

}

